<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!-- 사용자 정보 테이블-->
    <add name="ConnHomePage" connectionString="Data Source=BJW;Initial Catalog=TEST;User ID=sa;Password=qo138512#3" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>